<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.redcherry">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="com.lockdown.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lockdown.permission.C2D_MESSAGE" />

    <application
        android:name=".webservice.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider628556627324522"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GCM.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidsrc.gcmsample" />
            </intent-filter>
        </receiver>

        <service android:name=".GCM.GCMIntentService" />

        <activity
            android:name=".SignUpActivity"
            android:label="Register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".VechicleServiceActivity"
            android:label="@string/title_activity_vechicle_service"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ServiceCenterActivity"
            android:label="@string/title_activity_service_center"
            android:launchMode="singleTask"
            android:parentActivityName=".VechicleServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.VechicleServiceActivity" />
        </activity>
        <activity
            android:name=".ServiceCenterDetailActivity"
            android:label="@string/title_activity_service_center_detail"
            android:launchMode="singleTask"
            android:parentActivityName=".ServiceCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.ServiceCenterActivity" />
        </activity>
        <activity
            android:name=".BookingServiceActivity"
            android:label="@string/title_activity_booking_service"
            android:launchMode="singleTask"
            android:parentActivityName=".ServiceCenterDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.ServiceCenterDetailActivity" />
        </activity>
        <activity
            android:name=".BookingServiceInvoiceActivity"
            android:label="@string/title_activity_booking_invoice"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.VechicleServiceActivity" />
        </activity>
        <activity
            android:name=".VechicleListActivity"
            android:label="@string/title_activity_booking_invoice"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AddVechicleActivity"
            android:label="@string/title_activity_add_vechicle"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CancelBookingActivity"
            android:label="@string/title_activity_cancel_booking"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CarWashHomeActivity"
            android:label="@string/title_activity_car_wash_home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DoorstepServiceCenterActivity"
            android:label="@string/title_activity_doorstep_service_center"
            android:launchMode="singleTask"
            android:parentActivityName=".CarWashHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.CarWashHomeActivity" />
        </activity>
        <activity
            android:name=".CarWashServiceCenterDetailActivity"
            android:label="@string/title_activity_doorstep_car_wash_service_center_detail"
            android:launchMode="singleTask"
            android:parentActivityName=".DoorstepServiceCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.DoorstepServiceCenterActivity" />
        </activity>
        <activity
            android:name=".WorkStationServiceCenterActivity"
            android:label="@string/title_activity_work_station_service_center"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.DoorstepServiceCenterActivity" />
        </activity>
        <activity
            android:name=".CarWashBookingActivity"
            android:label="@string/title_activity_car_wash_booking"
            android:launchMode="singleTask"
            android:parentActivityName=".CarWashServiceCenterDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.CarWashServiceCenterDetailActivity" />
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AutoStoreActivity"
            android:label="@string/title_activity_auto_store"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RoadsideAssistanceActivity"
            android:label="@string/title_activity_roadside_assistance"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".NotificationDetail"
            android:label="@string/title_activity_notification_detail"
            android:launchMode="singleTask"
            android:parentActivityName=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.redcherry.NotificationActivity" />
        </activity>
        <activity
            android:name=".CarWashInvoiceActivty"
            android:label="@string/title_activity_car_wash_invoice_activty"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".UpdateNumberActivity" />
        <activity
            android:name=".OneTapActivity"
            android:label="@string/title_activity_one_tap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver android:name=".BroadCastReciver.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ThankYouActivity" />
        <activity
            android:name=".TrackBookActivity"
            android:label="@string/title_activity_track_book"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>